<% include partials/header %>
<aside class="main-sidebar">
    <!-- sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="image pull-left">
                <img src="/assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <h4>Bienvenu</h4>
                <p>Mr. Alrazy</p>
            </div>
        </div>
        <!-- sidebar menu -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="#"><i class="fa fa-hospital-o"></i><span>Accueil</span>
                </a>
            </li>
            <li class="treeview">
                <a href="Ajout_stage.ejs">
                    <i class="fa fa-user-md"></i><span>Stage</span>
                </a>
            </li>
            <li class="treeview">
                <a href="Ajout_Stagiaire.ejs">
                    <i class="fa fa-sitemap"></i><span>Stagiaire</span>
                </a>
            </li>
        </ul>
    </div> <!-- /.sidebar -->
</aside>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <div class="header-icon">
            <i class="fa fa-tachometer"></i>
        </div>
        <div class="header-title">
            <h1> Accueil</h1>
            <small> Accueil Sécrétaire Département</small>
            <ol class="breadcrumb hidden-xs">
                <li><a href="index-2.html"><i class="pe-7s-home"></i> Home</a></li>
                <li class="active">Accueil</li>
            </ol>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#ordine1"> Add Stagiaire
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="panel-header">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="dataTables_length">
                                        <label>Display
                                            <select name="example_length">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> records per page</label>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="dataTables_length">
                                        <a class="btn btn-default buttons-copy btn-sm" tabindex="0">
                                            <span>Copy</span></a>
                                        <a class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0"><span>CSV</span></a>
                                        <a class="btn btn-default buttons-excel buttons-html5 btn-sm" tabindex="0"><span>Excel</span></a>
                                        <button type="button" class="btn btn-default" tabindex="0" onclick="myFunction()"><span>PDF</span></button>
                                        <a class="btn btn-default buttons-print btn-sm" tabindex="0"><span>Print</span></a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="dataTables_length">
                                        <div class="input-group custom-search-form">
                                            <input type="search" class="form-control" placeholder="search..">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Numéro</th>
                                        <th>Nom et Prénom</th>
                                        <th>Sexe</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                        <th>Ecole</th>
                                        <th>Classe</th>
                                        <th>Specialite</th>
                                        <th>Contact Ecole</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Alimul</td>
                                        <td>alrazy</td>
                                        <td>Alimul</td>
                                        <td>alrazy</td>
                                        <td>Alimul</td>
                                        <td>alrazy</td>
                                        <td>Alimul</td>
                                        <td>Alimul</td>
                                        <td>alrazy</td>
                                        <td>
                                            <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#ordine"><i class="fa fa-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#"><i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="page-nation text-right">
                            <ul class="pagination pagination-large">
                                <li class="disabled"><span>«</span></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li class="disabled"><span>...</span></li>
                                <li>
                                <li><a rel="next" href="#">Next</a></li>
                            </ul>
                        </div>
                        <!-- /.content -->
                        <div id="ordine" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Mise à jour du Stagiaire</h4>
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="panel panel-bd lobidrag">
                                            <div class="panel-body">
                                                <form class="col-sm-12">
                                                    <div class="col-sm-6 form-group">
                                                        <label>Nom</label>
                                                        <input type="text" class="form-control" placeholder="Nom" name="Nom" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Prénom</label>
                                                        <input type="text" class="form-control" placeholder="Prénom" name="Prenom" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Date de Naissance</label>
                                                        <input type="date" class="form-control" placeholder="date" name="DateNaiss" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Compétences</label>
                                                        <input type="text" class="form-control" placeholder="Compétences" name="Competence">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Specialité</label>
                                                        <input type="text" class="form-control" placeholder="specialite" name="specialite" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Etablissement</label>
                                                        <input type="text" class="form-control" placeholder="Etablissement" name="Etablissement">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Classe</label>
                                                        <input type="text" class="form-control" placeholder="classe" required name="classe">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Contact Etablissement</label>
                                                        <input type="text" class="form-control" placeholder="Contact" required name="Contact_et">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Email du Stagiaire</label>
                                                        <input type="Email" class="form-control" placeholder="telephone" name="Email" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Contact du Stagiaire</label>
                                                        <input type="text" class="form-control" placeholder="Contact" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>CV</label>
                                                        <input type="file" name="CV" id="picture">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Profil</label>
                                                        <select id="profli" class="form-control">
                                                            <option>MS</option>
                                                            <option>MS</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Login</label>
                                                        <input name="Login" class="form-control" type="text" placeholder="login">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Password</label>
                                                        <input name="Login" class="form-control" type="text" placeholder="login">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Sexe</label><br>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="Sexe" value="1" checked="checked">Homme</label>
                                                        <label class="radio-inline"><input type="radio" name="sexe" value="0">Femme</label>
                                                    </div>
                                                    <div class="col-sm-6 form-check">
                                                        <label>Status</label><br>
                                                        <label class="radio-inline"><input type="radio" name="status" value="1" checked="checked">Active</label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="status" value="0">Inactive</label>
                                                    </div>
                                                    <div class="col-sm-12 reset-button">
                                                        <a href="#" class="btn btn-warning">Annuler</a>
                                                        <a href="#" class="btn btn-success">Modifier</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ordine1" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Ajouter Stagiaire</h4>
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="panel panel-bd lobidrag">
                                            <div class="panel-body">
                                                <form class="col-sm-12" action="/add" method="POST">
                                                    <div class="col-sm-6 form-group">
                                                        <label>Nom</label>
                                                        <input type="text" class="form-control" placeholder="Nom" name="Nom" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Prénom</label>
                                                        <input type="text" class="form-control" placeholder="Prénom" name="Prenom" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Date de Naissance</label>
                                                        <input type="date" class="form-control" placeholder="date de Naissance" name="DateNaiss" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Email du Stagiaire</label>
                                                        <input type="Email" class="form-control" placeholder="telephone" name="Email" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Contact du Stagiaire</label>
                                                        <input type="text" class="form-control" placeholder="Contact" required>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Compétences</label>
                                                        <input type="text" class="form-control" placeholder="Compétences" name="Competence">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Specialité</label>
                                                        <input type="text" class="form-control" placeholder="specialite" name="specialite" required>
                                                    </div>
                                                   
                                                    <div class="col-sm-6 form-group">
                                                        <label>Classe</label>
                                                        <input type="text" class="form-control" placeholder="classe" required name="classe">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Profil</label>
                                                        <input type="text" name="profil" readonly="readonly" value="Stagiaire" class="form-control">
                                                    </div>
                                                    <div class="col-sm-6 form-group" >
                                                        <label for="statut">Password</label>
                                                        <input name="password" class="form-control" type="password" placeholder="password">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>CV</label>
                                                        <input type="file" name="CV" id="picture">
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Maître de stage</label>
                                                        <select id="pro" class="form-control">
                                                            <option>MS</option>
                                                            <option>MS</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-sm-6 form-check">
                                                        <label>Sexe</label><br>
                                                        <label class="radio-inline"><input type="radio" name="status" value="M" checked="checked">Masculin</label>
                                                        <label class="radio-inline">
                                                        <input type="radio" name="status" value="F">Feminin</label>
                                                    </div>
                                                        <label for="nom"> Statut</label>
                                                        <label class="radio-inline" style="color:green"><input type="radio" id="choix1" name="destfond" onclick="showRadio()" value="PP"> Etudiant</label>
                                                        <label class="radio-inline" style="color:red">
                                                            <input type="radio" id="choix2" name="destfond" value="SAD" onclick="showRadio()"> Autre
                                                        </label>
                                                     <div class="col-sm-6 form-group" id="D1">
                                                        <label for="Etablissement">Etablissement</label>
                                                        <input type="text" class="form-control" placeholder="Etablissement" name="Etablissement">
                                                        <label for="Contact_et">Contact Etablissement</label>
                                                        <input type="number" class="form-control" placeholder="Contact" required name="Contact_et">
                                                        <label for="Superviseur">Superviseur</label>
                                                        <input type="text" class="form-control" placeholder="Nom & Prenom" required name="Contact_sup">
                                                        <label>Contact Superviseur</label>
                                                        <input type="number" class="form-control" placeholder="Contact" required name="Superviseur">
                                                    </div>
                                                    <div class="col-sm-6 form-group" id="D2">
                                                        <label for="statut">Statut</label>
                                                        <input name="statut" class="form-control" type="text" placeholder="votre statut">
                                                    </div>
                                                    <div class="col-sm-12 reset-button">
                                                        <button type="reset-button" class="btn btn-warning">Annuler</button>
                                                        <button type="submit" class="btn btn-success">Enregistrer </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </section>
</div>
<% include partials/footer %>